/build/
api-tests/.DS_Store
api-tests/test/.DS_Store
api-tests/test/weather.data.description/.DS_Store
/bin/
.gradle
*.log
.vscode/settings.json
src/api-tests/.DS_Store
.classpath
.gradle/**
src/.DS_Store
src/test/groovy/com/weather/api/.DS_Store
.DS_Store
.DS_Store
.DS_Store
